.searchCon{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 10000;
}

.searchConBox {
    position: absolute;
    z-index: 10001;
    background-color: white;
    width: 70rem;
    height: 80rem;
}

.searchHeader {
    height: 10rem;
    background-color: #B00020;
    padding: 0 1rem 1rem 1rem;
}

.headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    position: relative;
}

.headerX {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.headerX:hover {
    cursor: pointer;
}

.headerSearchInput{
    background-color: white;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.searchImg {
    position: absolute;
    right: 1.5rem;
    top: 6.25rem;
}

.searchRes {
    height: 30rem;
}

.mapContainer {
    width: 100%;
    height: 39rem;
}



.routeDataCellRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
  
.routeDataCellRow:nth-child(2) {
    margin-right: 0.5rem;
}


.routeDataCellRowButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #B00020;
    color: white;
    font-size: 1.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.routeDataCell {
    height: 5.9rem;
    width: 100%;
    border-top: 0.1rem solid #7F7F7F;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.routeDataTextTitle {
    padding: 0.5rem;
    font-weight: 500;
}
.routeDataTextDetail {
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 500;
    color: #7F7F7F;
}

.addressRes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 6rem;
    width: 100%;
    bottom: 30rem;
    z-index: 10;
    background-color: #DFDFDF;
}

.addressResText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.addressResText svg{
    margin-left: 1rem;
}

.addressResButton{
    right: 0;
    position: absolute;
}

.stopoverImgBox{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B00020;
    font-size: 1rem;
}

.stopoverImg{
    font-size: 5rem;
}