.routeDataCon{
  z-index: 10;
  position: absolute;
  top: 3.2rem;
}
.orderInputCell {
  position: relative;
}
.orderInputCellText{
  padding-left: 0.5rem;
}

.mainContentsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 129.6rem;
    margin: 0 auto;
  }
  
  /*login*/
  .loginHidden{
    position: absolute;
    top: 8rem;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 34rem;
    height: 10rem;
  }
  .loginCell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.6rem;
    height: 7.6rem;
    border: 0.2rem solid #B00020;
    border-radius: 0.6rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.6rem;
    cursor: pointer ;
  }
  .loginCell:hover{
    font-size: 2.1rem;
    line-height: 2.7  rem;
  }
  .passenger{
    background-color: #B00020;
    color: white;
  }
  .loginCellOther{
    background-color: white;
    color: #B00020;
  }
  
  /*first MoreWayPoint*/
  .firstContainerImgSizing{
    position: absolute;
    z-index: -1;
    width: calc(100vw - 1.7rem);
    height: 130vh;
    overflow: hidden;
  }
  .firstContainerImg{
    position: absolute;
    top: -30vh;
    left: 50%;
    z-index: -1;
    width: calc(100vw - 1.7rem);
    height: 130vh;
    transform: translate(-50%);
  }
  .firstContainerImgCover{
    position: absolute;
    top: -30vh;
    z-index: -1;
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0 , 0.4);
  }

  .firstContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc( 100vh - 6rem);
  }
  .way{
    display: flex;
    margin-bottom: 2.4rem;
  }
  .onWay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .oneWay{
    border-radius: 0.4rem 0 0 0.4rem;
    background-color: #B00020;
    color: white;
  }
  .twoWay{
    border-radius: 0 0.4rem 0.4rem 0;
    background-color: white;
    color: #B00020;
  }
  .choiceBox{
    display: flex;
    justify-content: space-between;
    width: 70rem;
  }
  .choiceBoxJs{
    width: 110rem;
  }
  .peopleAndBtn{
    align-items: center;
  }
  .choiceCell{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 26rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
  }
  .choiceCellTitle{
    margin-top: 2.4rem;
    margin-bottom: 3.4rem;
    font-size: 2.6rem;
  }
  .WayPointTitle{
    margin-bottom: 0;
  }
  .WayPointScrollBox{
    width: 24rem;
    height: 16rem;
    overflow-y: scroll;
  }
  /* 스크롤바 설정*/
  .WayPointScrollBox::-webkit-scrollbar{
    width: 6px;
  }
  
  /* 스크롤바 막대 설정*/
  .WayPointScrollBox::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #B00020;
    border-radius: 10px;  
  }
  
  /* 스크롤바 뒷 배경 설정*/
  .WayPointScrollBox::-webkit-scrollbar-track{
    background-color: rgba(176,0,32,0.1);
  }
  .choiceCellPeople{
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 6rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
  }
  .orderInputCell{
    display: flex;
    width: 22rem;
    height: 3rem;
    margin-top: 1.8rem;
    border-bottom: 0.2rem solid black;
  }
  .orderInputCellText{
    width: 19.2rem;
    height: calc(100% - 0.2rem);
    margin-right: 0.4rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #7F7F7F;
    font-weight: bold;
  }
  .orderInputCellTextWayPoint{
    width: 16rem;
    height: calc(100% - 0.2rem);
    margin-right: 0.4rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #7F7F7F;
  }
  .orderInputCell img{
    height: 2.6rem;
  }
  .addWayPoint{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.2rem;
    margin-top: 3.4rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #B00020;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
  }
  .addWayPoint img{
    margin-left: 0.6rem;
  }
  .moreGapTopIcon{
    margin-top: 3.6rem;
  }
  .orderInputCellPeople{
    margin-top: 1.4rem;
  }
  .orderInputCellTextPeople{  
    width: 18.4rem;
  }
  /*second Container*/
  .secondContainer{
    position: relative;
    width: 100%;
  }
  .secondContainer img{
    width: 100%;
  }
  .secondContainerTitle{
    position: absolute;
    top: 38%;
    left: 10%;
    font-size: 4rem;
    color: white;
  }
  .secondContainerContents{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2.8rem;
    color: white;
  }
  .secondContainerNavBox{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }
  .secondContainerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/6);
    cursor: pointer;
  }
  .secondContainerNav:hover{
    background-color: #B00020;
    color: white;
  }
  .secondContainerNavNotThis{
    height: 9.2%;
    background-color: #DEE0E0;
    font-size: 2rem;
  }
  .secondContainerNavThis{
    height: 13%;
    background-color: #B00020;
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
  }
  
  /*third Container*/
  .thirdContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90rem;
  }
  .thirdContainerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }
  .moreInfor{
    display: flex;
    align-items: flex-end;
  }
  .moreInfor img{
    width: 12rem;
    height: 12rem;
    margin-right: 1.6rem;
  }
  .moreInfor{
    font-size: 4rem;
    font-weight: bold;
    line-height: 6rem;
  }
  .moreInfor div span{
    font-size: 4.8rem;
    color: #B00020
  }
  .thirdContainer video{
    width: 100%;
  }
  .moreInforTag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 10.6rem;
  }
  .moreInforTagBlock{
    display: flex;
    justify-content: space-between;
  }
  .moreInforTagCell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    padding: 0 3.5rem;
    border-radius: 2.1rem;
    background-color: #f3f3f3;
    font-size: 2.2rem;
    font-weight: 500;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0 , 0.4);
  }
  .moreInforTagBlockWidth1{
    width: 50rem;
    float: right;
  }
  .moreInforTagBlockWidth2{
    width: 46rem;
  }
  
  /*fourth Container*/
  .fourthContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourthContainerTitle{
    font-size: 6.8rem;
    color: #B00020;
  }
  .reviweContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 1.7rem);
    height: 64rem;
    margin-top: 6rem;
    background-color: #fff0f0;
  }
  .reviweContainerCenter{
    display: flex;
    align-items: center;
    width: 129.6rem;
    height: 100%;
    overflow: hidden;
  }
  .reviweContainerBtnTool{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 129.6rem;
    height: 8rem;
    transform: translate(-50%, -50%);
  }
  .reviweContainerBtn{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5.2rem;
    height: 8rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0 , 0.06);
    font-size: 3.4rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  .reviweContainerBtnRotate{
    transform: rotate(180deg);
  }
  .reviweContainerBtn span{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3.8rem;
    transform: translate(-50%, -50%);
  }
  .reviweContainerBtn:hover{
    background-color: rgba(0, 0, 0 , 0.2);
  }
  .reviweBox{
    position: relative;
    display: flex;
    width: 129.6rem;
    height: 48rem;
  }
  .reviweCell{
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 56rem;
    height: 42rem;
    border-radius: 0.1rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0 , 0.2);  
    display: none;
  }
  .reviweCell0{
    z-index: 1;
    display: flex;
    background-color: rgba(255, 255, 255);
    top: -50%;
    left: 50%;
    transform: translate(-182%);
    opacity: 0;
  }
  .reviweCell1{
    z-index: 2;
    display: flex;
    background-color: rgba(255, 255, 255);
    top: 0;
    left: 50%;
    transform: translate(-116%);  
    opacity: 1;
  }
  .reviweCell2{
    top: 5rem;
    left: 50%;
    z-index: 10;
    display: flex;
    background-color: white;
    transform: translate(-50%);  
    opacity: 1;
  }
  .reviweCell3{
    z-index: 2;
    display: flex;
    background-color: rgba(255, 255, 255);
    top: 0;
    left: 50%; 
    transform: translate(16%);  
    opacity: 1;
  }
  .reviweCell4{
    z-index: 1;
    display: flex;
    background-color: rgba(255, 255, 255);
    top: -50%;
    left: 50%;
    transform: translate(82%);
    opacity: 0;
  }
  .reviweCellHeader{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-top: 5.2rem;
  }
  .reviweCellName{
    font-size: 2.2rem;
    font-weight: bold;
  }
  .reviweCellContents{
    width: 50rem;
    height: 26rem;
    margin-top: 1.8rem;
    font-size: 2rem;  
  }
  .reviweCellDate{
    display: flex;
    justify-content: flex-end;
    width: 50rem;
    font-size: 1.8rem;  
  }
  
  /*fifth Container*/
  .fifthContainer{
    display: flex;
    align-items: center;
    width: 129.6rem;
    height: 42rem;
  }
  .contactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64.6rem;
    height: 100%;
  }
  .contactUsTitle{
    font-size: 5.2rem;
    font-weight: bold;
    color: #B00020;
    margin-bottom: 6.6rem; 
  }
  .contactUsLocation{
    font-size: 2rem;
    margin-bottom: 2.2rem; 
  }
  .contactUsLocation img{
    width: 1.4rem;
  }
  .contactUsTel{
    font-size: 2rem;
  }
  .map{
    width: 64rem;
    height: 42rem;
  }
  
  /*sixth Container*/
  .sixthContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13rem;
  }
  .companyBox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40rem;
    height: 12rem;
    border-radius: 0.8rem;
  }
  .companyBoxLink{
    background-color: #160A61;
  }
  .companyBoxKingbus{
    background-color: #B80000;
  }
  .companyBoxTrp{
    width: 39.4rem;
    height: 11.4rem;
    border: 0.3rem solid #141320;
  }
  .textInfor{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-right: 1.2rem;
    line-height: 3rem;
  }
  .logoLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  .logoLinkImgLink{
    height: 5.6rem;
    width: 7rem;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  }
  .logoLinkImgKingbusApp{
    margin-bottom: 0.8rem;
  }
  .logoLinkImgTRP{
    width: 8rem;
    height: 4.8rem;
  }
  .companyBoxLogoBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    border-radius: 1.3rem;
    background-color: white;
    font-size: 1.3rem;
    color: black;
  }
  .companyBoxLogoBtnShadow{
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0 , 0.16);
  }
  .companyBoxTrp div:nth-child(2){
    color: #141320;
  }
  .boxLeftFill{
    position: absolute;
    left: -0.1rem;
    top: 0;
    width: 2.8rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #141320;
  }
  
  
  /*first MoreWayPoint WayPoint*/
  .MoreWayPoint{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.2rem;
    margin-top: 3.4rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #B00020;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
  }
  .MoreWayPoint img{
    margin-left: 0.3rem;
  }
  .WayPointBtnTool{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 3rem;
    margin-top: 1.6rem;
  }
  .removeWayPoint{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  3rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #B00020;
    cursor: pointer;
    margin-left: 0.8rem;
  }
  
  /*second OrderPage*/
  .secondOrderPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    padding-top: 7rem;
  }
  .secondOrderPageCheckBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    height: 26rem;
  }
  .secondOrderPageCheckCell{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 26rem;
    height: 26rem;
    border-radius: 0.5rem;
    background-color: white;
    line-height: 3.6rem;
    font-size: 2.6rem;
    color: black;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0 , 0.7) ;
  }
  .secondOrderPageCheckCellcheck{
    background-color: #B00020;
    color: white;
  }
  .secondOrderPageCheckCell img{
    position: absolute;
    top: 6%;
    left: 6%;
  }
  .mainOrderBtn{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 6rem;
    border-radius: 0.5rem;
    background-color: #B00020;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(0 0 0 / 40%);
    font-size: 2.6rem;
    color: white;
    cursor: pointer;
  }
  /*third OrderPage*/
  .thirdOrderPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 42rem;
  }
  .thirdOrderPageCheckingContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86rem;
    min-height: 12rem;
  }
  .thirdOrderPageCheckingBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    min-height: 12rem;
  }
  .itIsReal{
    position: absolute;
    z-index: 101;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .itIsReal2{
    position: absolute;
    z-index: 101;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .thirdOrderPageCheckingBoxTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 6rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: #B00020;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .thirdOrderPageCheckingCell{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 48rem;
    background-color: white;
    font-size: 2rem;
    overflow: hidden;
  }
  .thirdOrderPageCheckingCellFacilities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 34rem;
    background-color: white;
    font-size: 2rem;
    overflow: hidden;
  }
  .thirdOrderPageOptionCell{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    height: 6rem;
  }
  .thirdOrderPageOptionBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.8rem;
    height: 5.8rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .thirdOrderPageOptionBlock:hover{
    box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.4);
  }
  .thirdOrderPageOptionBlockFacilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.8rem;
    height: 9.3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    font-size: 1.6rem;
    color: grey;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
  }
  .thirdOrderPageOptionBlockFacilities svg{
    margin-bottom: 1.2rem;
  }.thirdOrderPageOptionBlockFacilities svg g{
    margin-bottom: 1.2rem;
    fill: gray;
  }
  
  .thirdOrderPageOptionBlockFacilities:hover{
    box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.4);
  }
  .thirdOrderPageCheckingBoxBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39.6rem;
    height: 5.6rem;
    border: 0.2rem solid #B00020;
    border-radius: 0 0 0.8rem 0.8rem;
    background-color: white;
    color: black;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  .additionalRequests{
    width: 84rem;
    height: 10rem;
    border: 0.2rem solid #B00020;
    border-radius: 0.3rem;
    padding: 1rem;
    color: black;
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Noto Sans CJK KR';
    resize: none;
    outline: none;
  }
  .thirdOrderPageOptonCover{
    position: absolute;
    z-index: 100;
    top: 55.5%;
    left: 50%;
    width: calc(100vw - 1.7rem);
    height: 101vh;
    background-color: rgba(0, 0, 0 , 0.5);
    transform: translate(-50%, -50%);
  }
  .thirdOrderPageSubmit{
    border: none;
  }
  /*fourthOrderPage*/
  .fourthOrderPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    height: 29rem;
  }
  .specificSchedule{
    width: 67.4rem;
    height: 14.4rem;
    padding: 1rem;
    border: 0.3rem solid #B00020;
    border-radius: 0.3rem;
    color: black;
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Noto Sans CJK KR';
    resize: none;
    outline: none;
  }
  .fourthOrderPageBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .fourthOrderPageInfor{
    font-size: 1.4rem;
    color: white;
    margin-top: 0.8rem;
  }
  .fourthOrderPageInfor span{
    font-size: 2rem;
    font-weight: bold;
    color: #EF2146;
  }
  
  
  
  
  /*리뷰 슬라이드 */
  #revNextAniCenter {  
    transition: all ease-in-out 1.6s, z-index 0.8s ease-in-out 0.2s;  
  }
  #revNextAni {
    transition: all ease-in-out 1.6s, z-index 0.8s ease-in-out 0.2s;
  }
  #revNextAnitoCenter {
    transition: all ease-in-out 1.6s, z-index 0.8s ease-in-out 0.2s;
    z-index: 10;
  }
  
  
  .chatting{
    position: fixed;
    z-index: 1000;
    right: 10%;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 11rem;
    border-radius: 1rem;
    background-color: #CB0000;
  }
  .chatting img{
    margin: 1.3rem 0 1.3rem 0
  }
  .chatting div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    border-top: 0.1rem solid white;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }
  
  
  
  
  /*spareClass*/
  .displayFlex{
    display: flex;
  }
  .displayblock{
    display: block;
  }
  .displayNone{
    display: none;
  }
  .containerGap{
    margin-top: 22rem;
  }


  